reception de messages.json
{
    "name": "AIRHOST - Reception messages - WAAPI - HTTP",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1717854,
                "maxResults": 5
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -251,
                    "y": 11
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "WAAPI"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "event",
                        "type": "text"
                    },
                    {
                        "name": "instanceId",
                        "type": "text"
                    },
                    {
                        "name": "data",
                        "spec": [
                            {
                                "name": "message",
                                "spec": [
                                    {
                                        "name": "_data",
                                        "spec": [
                                            {
                                                "name": "id",
                                                "spec": [
                                                    {
                                                        "name": "fromMe",
                                                        "type": "boolean"
                                                    },
                                                    {
                                                        "name": "remote",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "id",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "_serialized",
                                                        "type": "text"
                                                    }
                                                ],
                                                "type": "collection"
                                            },
                                            {
                                                "name": "viewed",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "body",
                                                "type": "text"
                                            },
                                            {
                                                "name": "type",
                                                "type": "text"
                                            },
                                            {
                                                "name": "t",
                                                "type": "number"
                                            },
                                            {
                                                "name": "notifyName",
                                                "type": "text"
                                            },
                                            {
                                                "name": "from",
                                                "type": "text"
                                            },
                                            {
                                                "name": "to",
                                                "type": "text"
                                            },
                                            {
                                                "name": "ack",
                                                "type": "number"
                                            },
                                            {
                                                "name": "invis",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isNewMsg",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "star",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "kicNotified",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "recvFresh",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isFromTemplate",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "pollInvalidated",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isSentCagPollCreation",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "latestEditMsgKey",
                                                "type": "text"
                                            },
                                            {
                                                "name": "latestEditSenderTimestampMs",
                                                "type": "text"
                                            },
                                            {
                                                "name": "mentionedJidList",
                                                "type": "array"
                                            },
                                            {
                                                "name": "groupMentions",
                                                "type": "array"
                                            },
                                            {
                                                "name": "isEventCanceled",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "eventInvalidated",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isVcardOverMmsDocument",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isForwarded",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "labels",
                                                "type": "array"
                                            },
                                            {
                                                "name": "hasReaction",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "viewMode",
                                                "type": "text"
                                            },
                                            {
                                                "name": "messageSecret",
                                                "spec": {
                                                    "type": "number"
                                                },
                                                "type": "array"
                                            },
                                            {
                                                "name": "productHeaderImageRejected",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "lastPlaybackProgress",
                                                "type": "number"
                                            },
                                            {
                                                "name": "isDynamicReplyButtonsMsg",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isCarouselCard",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "parentMsgId",
                                                "type": "text"
                                            },
                                            {
                                                "name": "callSilenceReason",
                                                "type": "text"
                                            },
                                            {
                                                "name": "isVideoCall",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "isMdHistoryMsg",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "stickerSentTs",
                                                "type": "number"
                                            },
                                            {
                                                "name": "isAvatar",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "lastUpdateFromServerTs",
                                                "type": "number"
                                            },
                                            {
                                                "name": "invokedBotWid",
                                                "type": "text"
                                            },
                                            {
                                                "name": "bizBotType",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botResponseTargetId",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botPluginType",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botPluginReferenceIndex",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botPluginSearchProvider",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botPluginSearchUrl",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botPluginSearchQuery",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botPluginMaybeParent",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "botReelPluginThumbnailCdnUrl",
                                                "type": "text"
                                            },
                                            {
                                                "name": "botMsgBodyType",
                                                "type": "text"
                                            },
                                            {
                                                "name": "requiresDirectConnection",
                                                "type": "text"
                                            },
                                            {
                                                "name": "bizContentPlaceholderType",
                                                "type": "text"
                                            },
                                            {
                                                "name": "hostedBizEncStateMismatch",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "senderOrRecipientAccountTypeHosted",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "placeholderCreatedWhenAccountIsHosted",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "links",
                                                "type": "array"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "id",
                                        "spec": [
                                            {
                                                "name": "fromMe",
                                                "type": "boolean"
                                            },
                                            {
                                                "name": "remote",
                                                "type": "text"
                                            },
                                            {
                                                "name": "id",
                                                "type": "text"
                                            },
                                            {
                                                "name": "_serialized",
                                                "type": "text"
                                            }
                                        ],
                                        "type": "collection"
                                    },
                                    {
                                        "name": "ack",
                                        "type": "number"
                                    },
                                    {
                                        "name": "hasMedia",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "body",
                                        "type": "text"
                                    },
                                    {
                                        "name": "type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "timestamp",
                                        "type": "number"
                                    },
                                    {
                                        "name": "from",
                                        "type": "text"
                                    },
                                    {
                                        "name": "to",
                                        "type": "text"
                                    },
                                    {
                                        "name": "deviceType",
                                        "type": "text"
                                    },
                                    {
                                        "name": "isForwarded",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "forwardingScore",
                                        "type": "number"
                                    },
                                    {
                                        "name": "isStatus",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "isStarred",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "fromMe",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "hasQuotedMsg",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "hasReaction",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "vCards",
                                        "type": "array"
                                    },
                                    {
                                        "name": "mentionedIds",
                                        "type": "array"
                                    },
                                    {
                                        "name": "groupMentions",
                                        "type": "array"
                                    },
                                    {
                                        "name": "isGif",
                                        "type": "boolean"
                                    },
                                    {
                                        "name": "links",
                                        "type": "array"
                                    }
                                ],
                                "type": "collection"
                            },
                            {
                                "name": "media",
                                "type": "text"
                            }
                        ],
                        "type": "collection"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 9,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "fromMe",
                "scope": "roundtrip",
                "value": "{{3.data.message._data.id.fromMe}}"
            },
            "metadata": {
                "designer": {
                    "x": 33,
                    "y": 2
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "fromMe",
                        "type": "any",
                        "label": "fromMe"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "guestphone",
                "scope": "roundtrip",
                "value": "\"+{{replace(3.data.message.from; \"/@c\\.us$/\"; \"\")}}\""
            },
            "metadata": {
                "designer": {
                    "x": 328,
                    "y": -4
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "guestphone",
                        "type": "any",
                        "label": "guestphone"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{9.fromMe}}",
                            "b": "false",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://whimsical-beignet-91329f.netlify.app/.netlify/functions/receive-message",
                "data": "{\n  \"propertyId\" : \"rec7L9Jpo7DhgVoBR\",\n  \"message\" : \"{{3.data.message._data.body}}\",\n  \"guestPhone\" : {{11.guestphone}},\n\"webhookId\": \"{{timestamp}}--{{3.data.message._data.id._serialized}}\"\n}",
                "gzip": true,
                "method": "post",
                "headers": [
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "raw",
                "contentType": "application/json",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 700,
                    "y": -7
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Raw"
                        },
                        "contentType": {
                            "label": "JSON (application/json)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content type",
                        "validate": {
                            "enum": [
                                "text/plain",
                                "application/json",
                                "application/xml",
                                "text/xml",
                                "text/html",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Request content"
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}